<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NodeJS Hall-booking</title>
    <link rel="stylesheet">
</head>

<body style="background: linear-gradient(to bottom,orange , skyblue); color: white;">
    <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Room List</h1>
    <form method="GET" action="/bookedRooms"
        style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding: 10px;">
        <button type="submit">See Booked Rooms</button>
    </form>
    <form method="GET" action="/customers/bookedRooms"
        style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding: 10px;">
        <button type="submit">All Customer with Booked Rooms</button>
    </form>
    <ul>
        <% results.forEach(result=> {%>
            <li style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding: 10px;">
                <b>Room ID :</b>
                <%= result.roomId %>
                    <b>Room Name :</b>
                    <%= result.roomName %>
                        <b>No.of.Seats Available :</b>
                        <%= result.numberOfSeatsAvailable %>
                            <b> Amenities :</b>
                            <%= result.amenities %>
                                <b>Price per hr :</b>
                                <%= result.pricePerHr %>
                                    <form method="POST" action="/rooms/delete/<%= result._id %>?_method=DELETE">
                                        <button value="<%=result._id %>" type="submit">Delete</button>
                                    </form>
                                    <form method="POST" action="/rooms/book/<%= result._id %>?_method=GET">
                                        <button value="<%=result._id %>" type="submit">Book Room</button>
                                    </form>
            </li>
            <% }); %>
    </ul>
    <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Create Room</h2>
    <form method="POST" action="/createRoom"
        style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding: 10px;">
        <label style="padding-right: 100px;" for="">Room ID :</label> <input type="text" name="roomId"
            placeholder="Room ID" required /> <br>
        <label style="padding-right: 67px;" for=""> Room Name :</label> <input type="text" name="roomName"
            placeholder="Room Name" required /><br>
        <label style="padding-right: 0px;" for="">No.of.Seats Available :</label><input type="number"
            name="numberOfSeatsAvailable" placeholder="No.of.Seats" required /><br>
        <label style="padding-right: 98px;" for="">Amenities :</label><input type="text" name="amenities"
            placeholder="Amenities" required /><br>
        <label style="padding-right: 79px;" for="">Price per hr :</label> <input type="text" name="pricePerHr"
            placeholder="Price per hr" required /><br>
        <button type="submit">Create Room</button>
    </form>
</body>

</html>